<img class="rounded mx-auto d-block" width="300" alt="Angular Logo"
src="http://todomvc.com/site-assets/logo-icon.png">

<div class="container">

    <!-- QrCode fonctionnalité -->
    <ngx-qrcode
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="value"
        cssClass="bshadow">
    </ngx-qrcode>
    <span style="color:blue">QrCode vers mon Github</span>
  <!-- <textarea [(ngModel)] = "value"></textarea> -->
</div>
<br>

<div class="container">
 
<input type="text" class="todo-input" placeholder="What need to be done"
[(ngModel)] = "todoTitle" (keyup.enter)="addTodo()">

<todo-item *ngFor="let todo of todoService.todosFiltered()"
 [todo]="todo"></todo-item>

<!-- <div class="todo-item" *ngFor="let todo of todosFiltered()" @fade>
    <div class="todo-item-left">
      <input type="checkbox" [(ngModel)] = "todo.completed" (change) = "doneEdit(todo)">
        <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{'completed' : todo.completed }" (dblclick)="editTodo(todo)"> {{ todo.title }}</div>
        <ng-template #editingTodo>
            <input type="text" class="todo-item-edit"  [(ngModel)]="todo.title" (blur)="doneEdit(todo)" (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)">
        </ng-template>
    </div>
    <div class="remove-item" (click)="deleteTodo(todo.id)">
        &times;
    </div>
</div> -->


<div class="extra-container">
    <div><label><input type="checkbox"  (change) = "todoService.clearAllTodos()" [(ngModel)]="!todoService.anyRemainingModel"> Check All</label></div>
    <div> {{ todoService.remaining() }} items left</div>
</div>

<div class="extra-container">
    <div>
        <button [ngClass] = "{ 'active' : todoService.filter === 'all'}" (click) =" todoService.filter='all' ">All</button>
        <button [ngClass] = "{ 'active' : todoService.filter === 'active'}" (click) =" todoService.filter='active' ">Active</button>
        <button [ngClass] = "{ 'active' : todoService.filter === 'completed'}" (click) =" todoService.filter='completed' ">Completed</button>
    </div>

    <div *ngIf="todoService.atLeastOneItemCompleted()">
        <button (click) = "todoService.clearCompleted()">Clear Completed</button>
    </div>
</div>

</div>